<?php
    $host = 'http://localhost:80/php-health-for-all';
    $rootDirectory = 'D:\xampp\htdocs\php-health-for-all';
    date_default_timezone_set('Asia/Jakarta');
    $emailAdmin = 'irvindelano@gmail.com';

    $dbuser = 'root';
    $dbpass = '';
    $dbname = 'healthforall';
?>
