.box {
    width: 350px;
    /* border: 1px solid black; */
    margin: auto;
    font-size: 20px;
}
input {
    margin-bottom: 10px;
}
input[type="submit"] {
    padding: 3px;
}input[type="text"] {
    padding: 3px;
}

