

p {
    margin-bottom: 15px;
}

a {
	text-decoration:none;
}

a:hover{
	text-decoration:none;
}

.no-padding{
	padding:0;
}

.sidebar {
	padding-right:0;
}
.twitter {
	margin:10px 0 10px;
}
.sidebar img .img-responsive{
	width:100%;
}

#open a {
    color:red;
}

.info {
    margin:10px 0 0 0;
    line-height:28px;
    text-align:right;
}

.menu
.slides {
	margin-bottom: 20px;
}


.info .meta-info {
	margin-left:30px;
}

.wp-post-image {
    width: 100%;
}

.single-post p {
	line-height:26px;
}
.single-post p img {
    max-width: 100%;
}
.single-post img {
    max-width: 100%;
}
.single-post .wp-post-image {
	width:100%;
	height:auto;
	text-align:center;
}

.game {
	margin-bottom:20px;
}
.game .wp-post-image {
    width: 100%;
}

.game-home {
	margin-top:20px;
}
.game-home .wp-post-image {
    width: 100%;
    height:232px;
}

.game h3 {
	font-family:"Open Sans";
	margin-top:15px;
	margin-bottom:10px;
	color:#ff9704;
}
.game .thumbnail {
	margin-bottom:0px;
	margin-top:0px;
}
.game p {
	color:#9e9e9e;
	line-height:24px;
}
/** begin POST */
.post {
	font-size:24px;
	font-weight:bold;
	margin-top:0px;
	margin-bottom:5px;
	color:#ff9000;
}

.post .date {
	width: 10%;
	border-right:2px solid #666;
	padding-left: 0;
	padding-right: 0;
	line-height: 1;
}
.post .month { 
	font-weight:bold;
	margin-top:0px;
	color:#999;
	font-size:18px;
}
.post .day {
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	color: #333;
	font-size: 32px;
}

.post p {
    font-size:14px;
	color:#333;
	line-height:24px;
	font-weight: lighter;
}
.post h3 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    margin-top: -5px;
    margin-bottom: 5px;
    color: #ff9000;
    line-height: 1.5;
}
.post .thumbnail {
	margin-bottom:0px;
	margin-top:10px;
}
.post-md .date {
    float: left;
    margin-right: 20px;
    font-size: 32px;
    line-height: 1.5;
}
.post-md .day {
    color: #333;
	font-weight: bold;
	margin-right: 10px;
}
.post-md .month {
	color:#999;
	font-weight:bold;
}
.post-md h3 {
    float: left;
    font-size: 32px;
    margin: 0;
    font-family: "Open Sans";
    line-height: 1.5;
    color: #ff9000;
}

.blog-post {
    margin-bottom: 40px;
}
/** end POST */

#contact {
	margin:0 auto;
}
}
.sidebar-contact {
	margin-top:80px;
}
.sidebar-contact p {
	font-size:12px;
	color:#9b9b9b;
	line-height:26px;
}

.text-req {
	font-style:italic;
	color:#aaa;
}
/*
.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: 0;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.pagination > li > a, .pagination > li > span {
    background-color: transparent;
    border: 2px solid #9a9a9a;
    float: left;
	color:#9e9e9e;
    line-height: 1.42857;
    margin-left: 10px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}
.pagination > li > a:hover, .pagination > li > span:hover {
	background-color: transparent;
	color:#ff9900;
	border: 2px solid #ff9900;
}
.pagination > li > span.current {
	background-color: transparent;
	color:#ff9900;
	border: 2px solid #ff9900;
}
*/
#main-footer {
	margin-top:20px;
   padding: 30px 0 30px;
	font-family:OpenSans;
}
#main-footer a, #main-footer a:hover {
    color: #fff;
}

.about {
	margin-top:100px;
}
.container-about {
	margin-bottom: 40px;
}

.info-about {
	color: #9b9b9b;
	line-height: 24px;
	margin-top: 20px;
	margin-bottom: 60px;
}

@media (max-width: 980px) {
	.navbar-brand img.logo {
		height: 35px;
	}
	.blog .date {
        width:15%;
        border-right:2px solid #333333;
	}

	.blog .blog-post{
		width:84%;
	}
}


@media (min-width:768px){
	.img-about .photo {
	    width: 100%;
		margin-bottom:10px;
	}
}
@media (max-width: 767px) {
	
	.sidebar{
		margin:10px 0 10px;
	}
	.about .container-about {
		padding:5px 0;
	}
	.about .img-about {
		padding:5px 0;
		text-align:center;
	}
	#menu-mainmenu {
		margin-top:0px;
        background-color:#EEE;
		letter-spacing:0px;
		font-size:100%;
	}
	
    #menu-mainmenu li a {
        color:#000 !important;
    }	
	#menu-mainmenu li a:hover{
		background-color:#fff;
		color:#f99a00;
	}
	.header-logo {
		margin:15px 20px 0px 10px;
	}

	.info {
	    text-align:center;
	}
	
	#divider {
		margin-bottom:30px;
		margin-top:0px;
	}
	.navbar-brand img.logo {
		display: inline;
		height: 40px;
		margin-right: 15px;
	}
	.game .wp-post-image {
		height:auto;
	}
	
	.game-home .wp-post-image {
		width:100%;
		height:auto;
	}
	.single-post .wp-post-image {
        width:100%;
        height:auto;
        text-align:center;
	}

	#toggle {
        border-color: #DDDDDD;
	}
	#toggle {
        background-color: rgba(0, 0, 0, 0);
        border:none;
        float:none;
        text-align:center;
        position: relative;
        padding:10px 10px;
        margin:0;
	}
	.icon-bar {
		background-color:#fff !important;
	}
	
	.post .date {
		border-right:0px;
	}
	.blog .date {
		border-right:0px;
	}
}

@media (max-width: 991px) {
	.content-about {
        text-align: center;
    }
    .container-about .wp-post-image {
        width: auto;
        display: inline;
    }
}
@media (min-width: 992px) {
	.container-about {
	    height: 300px;
	    overflow: hidden;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #menu-mainmenu {
        font-size: 17px;
        margin-top: 0;
    }
}

@media (max-width: 360px) {
	
	.navbar-brand img.logo {
		display: inline;
		height: 40px;
		margin-right: 15px;
	}
	
	.blog p {
		margin-left:10px;
		text-align:justify;
	}
	.blog h3 {
		margin-left:10px;
	}
	.post p {
		margin-left:10px;
		text-align:justify;
	}
	.post h3 {
		margin-left:10px;
	}
	
	.img-about .wp-post-image {
:		margin:10px 0;
	}
}
